# Python 관련
__pycache__/
*.pyc
*.pyo
venv/
.env
py-scripts/조/data_set/

# Java 관련
java-app/bin/
java-app/target/
*.class
*.log
*.jar

# Eclipse 관련
java-app/.settings/
java-app/.project
java-app/.classpath

# VS Code 관련
.vscode/

# Windows
Thumbs.db