@charset "UTF-8";

body, table, input, button {
	font-family: "Noto Sans KR", serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	margin: 0;
	padding-top: 180px;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: #ff6666;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: clac(100vh - 180px);
}

#logo {
	height: 40px;
	margin-right: 70px
}

/* 상단 고정탭 */
#header_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 10;
	padding: 25px 0;
	border-bottom: 1px solid #ccc;
}

/* 로고, 검색창 */
#topHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#search_container {
	position: relative;
}

#query {
	width: 300px;
	height: 30px;
	padding: 5px 40px 5px 15px;
	border-radius: 20px;
	border: 1px solid #ccc;
	outline: none;
	font-size: 12px;
	text-align: left;
}

#search_button {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	background: none;
	border: none;
	cursor: pointer;
}

#search_button img {
	width: 24px;
	height: 24px;
}

/* 자동완성 */
#autocomplete_list {
	position: absolute;
	top: 50px;
	width: 320px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: white;
	display: none;
	overflow-y: auto;
	z-index: 10;
	text-align: left;
	font-size: 12px;
}

#autocomplete_list div {
	padding: 12px 20px;
	cursor: pointer;
}

#autocomplete_list div:hover {
	background: #f0f0f0;
	font-weight: bold;
}

/* 이름, 날짜 표시 */
#pageHeader {
	margin-top: 30px;
	display: flex;
	align-items: end;
}

#companyName {
	font-size: 25px;
	font-weight: 800;
}

#dateRange {
	margin-left: 15px;
	font-size: 15px;
	color: #555;
}

#day {
	text-align: center;
	font-size: 15px;
	margin-left: 40px;
	margin-right: 10px;
	width: 70px;
	height: 30px;
	outline: none;
	border: none;
	border-bottom: 1.5px solid #ccc;
	transition: border-bottom 0.3s;
}

#day::-webkit-outer-spin-button, #day::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#day:focus {
	outline: none;
	border-bottom: 1.5px solid #aaa;
}

#dayUpdateButton {
	text-align: center;
	border-radius: 5px;
	width: 70px;
	outline: none;
	border: none;
	height: 30px;
	cursor: pointer;
	transition: all 0.2s
}

#dayUpdateButton:hover {
	background: #555;
	color: #fff;
}

/* 햄버거 메뉴 */
#hamburgerButton {
	position: fixed;
	top: 110px;
	right: 40px;
	background: none;
	border: none;
	cursor: pointer;
}

#hamburgerButton img {
	width: 25px;
	height: 25px;
}

.dropdown-content {
	display: none;
	position: fixed;
	top: 110px;
	right: 40px;
	background-color: white;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	width: 300px;
	max-height: 500px;
	overflow-y: auto;
}

.dropdown-content a {
	display: block;
	padding: 12px;
	text-decoration: none;
	color: black;
	font-size: 16px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

/* 탭 하단부 */
.part_container {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 40px 0;
	position: relative;
}

.part_title {
	position: relative;
	left: 20%;
	text-align: left;
	max-width: 80%;
	align-self: flex-start;
	margin-bottom: 15px;
	font-size: 30px;
	font-weight: 700;
	color: #333;
}

.desc {
	position: relative;
	left: 20%;
	text-align: left;
	max-width: 80%;
	align-self: flex-start;
	margin-bottom: 30px;
	font-size: 16px;
	font-weight: 400;
	color: #555;
}

#stackChart_container {
	margin-bottom: 0;
}

.dataTable {
	left: 40%;
	width: 60%;
	border-collapse: collapse;
}

.dataTable tr {
	height: 40px;
}

.dataTable td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#hotNewsTable th, #hotNewsTable tr:nth-child(even) td {
	border-bottom: 1px solid #CCC;
}

#boardTable th, #boardTable td {
	border-bottom: 1px solid #CCC;
}

#board_container {
	margin-bottom: 200px;
}